.a{
  width:10px;
  height:10px;
  background:url(../img/FFF.png) no-repeat;
}
.b{
  width:10px;
  height:10px;
  background:url(../img/000.png) no-repeat;
}
.c{
  background:url(../img/FFF.png) repeat-y;
}
.d {
  background:url(../img/000.png) repeat-y;
}
.e{
  background:url(../img/FFF.png) repeat-x;
}
.f{
  background:url(/img/000.png) repeat-x;
}

.again{
  background:url(../img/000.png) repeat-x;
}

.biga{
  width:12px;
  height:12px;
  padding:1px;
  background:url(../img/FFF.png) no-repeat;
}