.a{
  width:10px;
  height:10px;
  background:url(../img/FFF.png) no-repeat;
}
.b{
  width:10px;
  height:10px;
  background:url(../img/000.png) no-repeat;
}
.c{
  background:url(../img/FFF.png) repeat-y;
}
.d{
  background:url(../img/000.png) repeat-y;
}
