.a{
  width:10px;
  height:10px;
  background:url("../img/join0.png") 0 0 no-repeat;
}
.b{
  width:10px;
  height:10px;
  background:url("../img/join0.png") -20px 0 no-repeat;
}
.c{
  background:url("../img/join1.png") 0 0 repeat-y;
}
.d {
  background:url("../img/join1.png") -26px 0 repeat-y;
}
.e{
  background:url("../img/join2.png") 0 0 repeat-x;
}
.f{
  background:url("../img/join2.png") 0 -26px repeat-x;
}

.again{
  background:url("../img/join2.png") 0 -26px repeat-x;
}

.biga{
  width:12px;
  height:12px;
  padding:1px;
  background:url("../img/join0.png") 0 0 no-repeat;
}